<div class="conteudo">
    <mat-card class="mat-elevation-z3 ">
        <div>
            <mat-card-title class="centralizar">Pesquisa Avançada</mat-card-title>
            <mat-card-subtitle class="centralizar">Selecione as opções desejadas</mat-card-subtitle>
        </div>

        <!-- Combobox (select) EIXOS -->
        <div class="centralizar">
            <mat-form-field>
                <mat-label>Selecione um Eixo</mat-label>
                <mat-select [(ngModel)]="descricaoEixo">
                    <!--'ngFor' é uma diretiva estrutural que permite que se itere um array através de um loop 'for'-->
                    <!--'eixo' é uma variável local e 'eixos' é a variável criada no componente-->
                    <mat-option (click)="listarTemas()" *ngFor="let eixo of eixos" [value]="eixo.descricao">{{ eixo.descricao }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- Combobox (select) TEMAS -->
        <div class="centralizar">
            <mat-form-field>
                <mat-label>Selecione um Tema</mat-label>
                <mat-select [(ngModel)]=descricaoTema>
                    <div *ngFor="let tema of temas">
                        <mat-option (click)="listarIndicadores()" *ngIf="tema.eixo.descricao == descricaoEixo" [value]="tema.descricao">{{ tema.descricao }}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- Combobox (select) Indicadores -->
        <div class="centralizar">
            <mat-form-field>
                <mat-label>Selecione um Indicador</mat-label>
                <mat-select [(ngModel)]=descricaoIndicador>
                    <div *ngFor="let indicador of indicadores">
                        <mat-option (click)="listarColetas()" *ngIf="indicador.tema.descricao == descricaoTema" [value]="indicador.descricao">{{ indicador.descricao }}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- Data Picker -->
        <div class="periodo">
            <mat-form-field appearance="fill">
                <mat-label>Selecione o período</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Data inicial">
                    <input matEndDate placeholder="Data final">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>

        <!-- Botão "exibir" e "limpar" -->
        <div class="centralizar">
            <button class="bexibir" routerLink="/resultado" mat-raised-button>Exibir</button>
            <button class="blimpar" (click)="limparTela" mat-raised-button>Limpar</button>
        </div>

    </mat-card>
</div>