<app-header></app-header>

<div class="content">
    <mat-card class="mat-elevation-z3 ">
        <div>
            <mat-card-title class="center">Pesquisa Avançada</mat-card-title>
            <mat-card-subtitle class="center">Selecione as opções desejadas</mat-card-subtitle>
        </div>

        <div class="center">
            <mat-form-field>
                <mat-label>Eixo</mat-label>
                <mat-select>
                    <mat-option *ngFor="let eixo of eixos" value="eixo">{{ eixo.descricao }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="center">
            <mat-form-field>
                <mat-label>Tema</mat-label>
                <mat-select>
                    <mat-option *ngFor="let tema of temas" value="tema">{{ tema.descricao }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="center">
            <mat-form-field>
                <mat-label>Indicador</mat-label>
                <mat-select>
                    <mat-option *ngFor="let indicador of indicadores" value="indicador">{{ indicador.descricao }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="period">
            <mat-form-field appearance="fill">
                <mat-label>Selecione o período</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Data inicial">
                    <input matEndDate placeholder="Data final">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>

        <div class="center">
            <button class="bexibir" routerLink="/resultado" mat-raised-button>Exibir</button>
            <button class="blimpar" mat-raised-button>Limpar</button>
        </div>

    </mat-card>
</div>
<!--
<app-footer></app-footer>
-->